<h2 class="homeHeader">Members Portfolio</h2>
<div class="members">
    <div class="member">
    <div class="member-designation">
        <p class="member-desig">President</p>
    </div>
        <div class="member-text">
            <p class="info" style="font-weight: bold;">Biswarup Mondal</p>
            <p class="info">mondal.biswarup88@gmail.com</p>
    `       <p class="info">Biswarup formed the organisation VISION PRABAHO, with other members, to achieve the vision of bringing equality and sustainability to society. He believes that, the change is already at the doorstep; we just have to open the door by our act. He is passionate about social activities and involved with various voluntary organizations. He served as a secretary for the BSS, IIT Kharagpur chapter and IIChE, Kharagpur regional centre.
        He is currently pursuing PhD in renewable energy at the Indian Institute of Technology, Kharagpur. He received bachelor’s degree from Calcutta Institute of Technology and Master’s degree from Jadavpur University in Chemical Engineering.
        </p>
        </div>
        <div class="member-pic">
            <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/President.png">
        </div>
    </div>
    <div class="member">
        <div class="member-designation">
            <p class="member-desig">Vice President</p>
        </div>
            <div class="member-text">
                <p class="info" style="font-weight: bold;">Pragnaditya Malakar </p>
                <p class="info">pragnadityamalakar@gmail.com</p>
        `       <p class="info">Pragnaditya is an Assistant Professor in the department of Geological Sciences, Jadavpur University. He just completed postdoctoral programme from the University of Alabama, in the area of groundwater hydrology. He is one of the co-founders of VISION PRABAHO and took a significant role to strategize the organisational growth. He is a
            Geoscience graduate from Jadavpur University, and a post-graduate from IIT Kharagpur. Pragnaditya did his Ph.D. in Hydrology from IIT Kharagpur.            
            </p>
            </div>
            <div class="member-pic">
                <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Vice_President.png">
            </div>
        </div>
        <div class="member">
            <div class="member-designation">
                <p class="member-desig">Secretary</p>
            </div>
                <div class="member-text">
                    <p class="info" style="font-weight: bold;">Sirsendu Sekhar Barman </p>
                    <p class="info">sirsendu012@gmail.com</p>
            `       <p class="info">Sirsendu is an Assistant Professor in the Centre of Applied Mathematics & Computing, Institute of Technical Education & Research, Siksha O Anusandhan University. He is one of the co-founders of VISION PRABAHO and takes a pivotal role for this organisation. He has done his graduation in Mathematics from Ramakrishna Mission Vidyamandira, Calcutta University. He has completed his masters from Indian Institute of Technology Kharagpur in Mathematics only. He has also done PhD from Indian Institute of Technology Kharagpur in Computational Fluid</p>
                </div>
                <div class="member-pic">
                    <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Secretary.png">
                </div>
            </div>
            <div class="member">
                <div class="member-designation">
                    <p class="member-desig">Joint Secretary</p>
                </div>
                    <div class="member-text">
                        <p class="info" style="font-weight: bold;">Saptarshi Kumar Lahiri </p>
                        <p class="info">lahiriayan22@gmail.com</p>
                `       <p class="info">Saptarshi is one of the founding members of VISION PRABAHO and has been actively involved with the organization ever since. He believes in a conscious, collaborative, and consistent effort to build a sustainable and eco-friendly society. As a concerned citizen, he is always keen to realise his responsibilities towards the betterment of the environment.
                    Saptarshi, currently working as a post-doctoral fellow at Technion Haifa, Israel, graduated in civil engineering from Jadavpur University; did his postgraduation in earthquake engineering from the IIT Roorkee, and completed a Ph.D. in civil engineering from the IIT Kharagpur.
                    </p>
                    </div>
                    <div class="member-pic">
                        <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Joint_Secretary.png">
                    </div>
                </div>
                <div class="member">
                    <div class="member-designation">
                        <p class="member-desig">Treasurer</p>
                    </div>
                        <div class="member-text">
                            <p class="info" style="font-weight: bold;">Bijan Kumar Das </p>
                            <p class="info">dasbijankumar555@gmail.com</p>
                    `       <p class="info">Bijan is an Applied Mathematics teacher having specialization in Physical Oceanography. He is one of the founding members of VISION PRABAHO and working since its inception. Bijan is a mathematics graduate from Jadavpur University where he also did his post-graduation in Applied Mathematics. He completed his Ph.D. in Physical Oceanography from IIT Kharagpur. Currently, Bijan is working as an Assistant Professor of Mathematics at Midnapore College (Autonomous), West Bengal, India.</p>
                        </div>
                        <div class="member-pic">
                            <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Treasurer.png">
                        </div>
                    </div>
                    <div class="member">
                        <div class="member-designation">
                            <p class="member-desig">Head Creative Design</p>
                        </div>
                            <div class="member-text">
                                <p class="info" style="font-weight: bold;">Atanuka Paul</p>
                                <p class="info">paulmom.atanuka@gmail.com</p>
                        `       <p class="info">Atanuka Paul has been actively connected to VISION PRABAHO from its initial days. She is the head of the designing team. She has been an eco-activist and she believes in working on nature to preserve the natural resources. Atanuka is now working as a research fellow at IIT Kharagpur. She has completed her graduation from Calcutta University and post-graduation from Indian School of Mines, Dhanbad.</p>
                            </div>
                            <div class="member-pic">
                                <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Head_Creative_Design.png">
                            </div>
                        </div>
                        <div class="member">
                            <div class="member-designation">
                                <p class="member-desig">Head Content writing</p>
                            </div>
                                <div class="member-text">
                                    <p class="info" style="font-weight: bold;">Rupashree Saha</p>
                                    <p class="info">saharupashree@gmail.com</p>
                            `       <p class="info">Rupashree Saha has been actively involved with VISION PRABAHO from 2019 and currently head of content writing. She is pursuing her Ph.D. in Geology at IIT Kharagpur. Growing up in a village of Plassey in West Bengal, she spent most of her childhood loving the touch of Nature. She is passionate about environmental care & conservation.</p>
                                </div>
                                <div class="member-pic">
                                    <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Head_Content_writing.png">
                                </div>
                            </div>
                            <div class="member">
                                <div class="member-designation">
                                    <p class="member-desig">Head Event management & Membership</p>
                                </div>
                                    <div class="member-text">
                                        <p class="info" style="font-weight: bold;">Subhadip Sarkar</p>
                                        <p class="info">sikstacy2010@gmail.com</p>
                                `       <p class="info">Subhadip has been actively involved with VISION PRABAHO from 2019 and currently supervises the Event management team and Membership drive activities. He is passionate about social activities and management. He served as the General secretary Social and Cultural in MMM Hall during his MTech in Solid state Technology from IIT Kharagpur. He also contributed as a general secretary of Sports and Hall president of BRH Hall in IIT Kharagpur during his PhD. 
                                    He is currently pursuing PhD in atmospheric Physics and climate change at IIT Kharagpur. He received bachelor’s(hons) and Master’s degree from Visva Bharati University in Physics. While teaching in a school for some months, after completing B.Ed. from Visva Bharati University, he worked on a project on sustainable use of natural resources with the school students. His other interests are singing, gardening, playing Cricket and various musical instruments.
                                    </p>
                                    </div>
                                    <div class="member-pic">
                                        <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Head_event_management.png">
                                    </div>
                                </div>
                                <div class="member">
                                    <div class="member-designation">
                                        <p class="member-desig">Member</p>
                                    </div>
                                        <div class="member-text">
                                            <p class="info" style="font-weight: bold;">Koushik Haldar</p>
                                            <p class="info">koushikhalder1410@gmail.com</p>
                                    `       <p class="info">Koushik Halder is a research fellow at the University of Nottingham in the United Kingdom. Before that, he was a research scholar at the department of Civil Engineering in the Indian Institute of Technology Kharagpur. He has been an active member of VISION PRABAHO since its inception. He is passionate about greener and cleaner India for our future generation.</p>
                                        </div>
                                        <div class="member-pic">
                                            <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Member.png">
                                        </div>
                                    </div>
                                    <div class="member">
                                        <div class="member-designation">
                                            <p class="member-desig">Member</p>
                                        </div>
                                            <div class="member-text">
                                                <p class="info" style="font-weight: bold;">Mrs Arundhati Patnaik</p>
                                                <p class="info">julli_patnaik@yahoo.co.in</p>
                                        `       <p class="info">Mrs. Arundhati Patnaik, is currently an independent researcher and home-maker IIT Kharagpur. With a Master's degree in History and a PG Diploma in Tourism, her interests include history, Indian culture, cultural and ecological tourism, and associated areas. She was earlier a project scholar working under Science and Heritage Project (Sandhi), MHRD, at IIT Kharagpur in the interface of ecology, culture and heritage studies. Currently she is pursuing a second Master’s degree in Travel and Tourism Management. Her other interests include photography and painting. She is active in VISION PRABAHO from the very beginning (since 2018).</p>
                                            </div>
                                            <div class="member-pic">
                                                <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Member_2.png">
                                            </div>
                                        </div>
                                        <div class="member">
                                            <div class="member-designation">
                                                <p class="member-desig">Member</p>
                                            </div>
                                                <div class="member-text">
                                                    <p class="info" style="font-weight: bold;">Sayantan Chakraborty</p>
                                                    <p class="info">sayantan.chakraborty11@gmail.com</p>
                                            `       <p class="info">Sayantan is a born nature lover; with a hobby of gardening. He is willing to work for sustainable environmental development and its social impact. He graduated in chemical engineering in 2011 and now is working under ministry of railways as a chemical and metallurgical superintendent in m&c lab of Kharagpur workshop, South Eastern Railway. He is associated with VISION PRABAHO since 2020.</p>
                                                </div>
                                                <div class="member-pic">
                                                    <img width="266" class="memberImg" alt="vision picture 1" src="assets/members/Member3.png">
                                                </div>
                                            </div>
</div>
